@media (min-width: 500px) {
  .responsiveHeight {
    height: 71px;
  }
}

@media (max-width: 500px) {
  .responsiveHeight {
    height: 46.84px;
  }
}
/* 
@media (min-width: 500px) {
  .marginNavbar {
    margin-top: 71px;
  }
}

@media (max-width: 500px) {
  .marginNavbar {
    margin-top: 46.84px;
  }
} */
