.hidescrollbar {
  overflow: -moz-scrollbar-none;
  -webkit-overflow-scrolling: touch;
}

.hidescrollbar::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (min-width: 700px) {
  .responsivepadding {
    margin-left: 50px;
    margin-right: 50px;
  }
}
